#app {
  font-family: "Courier New", "Comic Sans", cursive;
  font: "Courier New";
  margin: 0;
  height: 100vh;
  color: #ffffff;
}

.background-bright {
  background-color: #ffffff;
}
.background-night {
  background-color: #00171f;
}
.background-mid {
  background-color: #003459;
}
.background-bright {
  background-color: #007ea7;
}
.background-brightest {
  background-color: #00a8e8;
}
.text-bright {
  color: #ffffff;
}
.text-night {
  color: #00171f;
}
.text-mid {
  color: #003459;
}
.text-bright {
  color: #007ea7;
}
.text-brightest {
  color: #00a8e8;
}

#login-button {
  color: #ffffff;
  border: 2px solid #00a8e8;
}
.logout-button {
  color: #ffffff;
  border: 2px solid red;
}
