code {
    font-family: 'Courier New';
  }

  html {
    font-family: 'Courier New';
  }
  body {
    font-family: 'Courier New';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

html, body, #app, #root, #app>div {
  height: 100%;
  margin: 0;
}